.header{
    width: 100%;
    height: 64px;
    padding: 0 24px;
    background: linear-gradient(90deg, rgba(20,20,20,0.98), rgba(16,16,16,0.98));
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 12px;
}
.logo img{
    height: 40px;
}
.link{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
}
.link p{
    color: var(--grey);
    margin: 0;
    transition: color 0.15s ease-in-out;
}
.link p:hover{
    color: var(--white);
}
.sideMenu{
    width: 20%;
    height: 100vh;
    background-color: #fff;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2vw;
    display: flex;
    flex-direction: column;

    
}
.sideMenu a{
    color: black;
    /* margin-top: 100px; */
}
.sidemenu{
    display: none;
}
.sideContainer {
    width: 100%;
    height: 100%;
    background-color: #111;
    color: #fff;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2vw;
    
}
@media only screen and (max-width: 800px) {
    .link{
        display:none;
    }
    .sidemenu{
        display: block;
    }
}